<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>889847955205-9rub189g7mue23f8t9pu8ud882r8hfu1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889847955205-9rub189g7mue23f8t9pu8ud882r8hfu1</string>
	<key>API_KEY</key>
	<string>AIzaSyCyg53qrvfEXmcAoLKHVzXbB8LjO6jVsEg</string>
	<key>GCM_SENDER_ID</key>
	<string>889847955205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Shayne-Torres.InstaCamp</string>
	<key>PROJECT_ID</key>
	<string>instacamp-e4196</string>
	<key>STORAGE_BUCKET</key>
	<string>instacamp-e4196.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:889847955205:ios:60a4df9ebdba9000</string>
	<key>DATABASE_URL</key>
	<string>https://instacamp-e4196.firebaseio.com</string>
</dict>
</plist>